@{
    ViewData["Title"] = "Home Page";
}


<!--Header section  -->
<section class="container" id="home">
    <div class="row text-center">
        <div class="col-md-12">
            خطا در ارسال اطلاعات
        </div>
    </div>
</section>

<!--End Pricing Section -->