@{
    ViewData["Title"] = "Home Page";
}


<!--Header section  -->
<div class="container" id="home">
    <div class="row text-center">
        <div class="col-md-12">

            <div id="home-row-2" class="row clearfix">
                <div class="col-12 col-sm-4 pull-right" data-target="#about">

                    <div class="home-hover navigation-slide" data-slide="2">
                        <i class="fa fa-graduation-cap faa-vertical animated icon-round bk-color-light-brown"></i>
                    </div>
                    <h2 class="text-center">اساتید حرفه ای</h2>
                    <p class="row-2-content">ایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی است</p>

                </div>
                <div class="col-12 col-sm-4 pull-right">
                    <div class="home-hover navigation-slide" data-slide="3">
                        <i class="fa fa-clock-o  faa-ring animated icon-round bk-color-light-cyan"></i>
                    </div>
                    <h2 class="text-center">روشهای مختلف</h2>
                    <p class="row-2-content">ایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی است</p>
                </div>
                <div class="col-12 col-sm-4 pull-right">
                    <div class="home-hover navigation-slide" data-slide="4">
                        <i class="fa fa-pencil  faa-shake animated icon-round bk-color-light-purple"></i>
                    </div>
                    <h2 class="text-center">تمامی مقاطع</h2>
                    <p class="row-2-content">ایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی است</p>
                </div>
            </div><!-- /row -->

            <div class="head-last"></div>

        </div>


    </div>
</div>
<!--End Header section  -->
<!--words Section-->
<section class="for-full-back color-white slide story" id="about" data-slide="2">
    <div class="slide story container">

        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 ">
                <h1 class="fontYekan">اساتید آرا</h1>
                <h4 class="fontYekan">
                    <strong>
                        مجموعه ای با اساتید باتجربه و حرفه ای
                    </strong>
                </h4>
            </div>

        </div>

        <div class="row text-center space-pad">
            <div class="teacher col-md-3 col-sm-6">

                <div class="about-div">

                    <img class="icon-round thumbnail" src="assets/img/man.png" />


                    <h3>استاد </h3>
                    <p>
                        چند خطی در مورد استاد مربوطه  رزومه او نوشته می شود.از جمله کارهایی که انجام داده یا افتخاراتی که به دسن اورده
                    </p>

                </div>

            </div>

            <div class="teacher col-md-3 col-sm-6">

                <div class="about-div">

                    <img class="icon-round thumbnail" src="assets/img/man.png" />


                    <h3>استاد </h3>
                    <p>
                        چند خطی در مورد استاد مربوطه  رزومه او نوشته می شود.از جمله کارهایی که انجام داده یا افتخاراتی که به دسن اورده
                    </p>

                </div>

            </div>
            <div class="teacher col-md-3 col-sm-6">

                <div class="about-div">

                    <img class="icon-round thumbnail" src="assets/img/man.png" />


                    <h3>استاد </h3>
                    <p>
                        چند خطی در مورد استاد مربوطه  رزومه او نوشته می شود.از جمله کارهایی که انجام داده یا افتخاراتی که به دسن اورده
                    </p>

                </div>

            </div>
            <div class="teacher col-md-3 col-sm-6">

                <div class="about-div">

                    <img class="icon-round thumbnail" src="assets/img/man.png" />


                    <h3>استاد </h3>
                    <p>
                        چند خطی در مورد استاد مربوطه  رزومه او نوشته می شود.از جمله کارهایی که انجام داده یا افتخاراتی که به دسن اورده
                    </p>

                </div>

            </div>

        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="fontYekan">انتخاب استاد</h2>
                <p>

                    به راحتی می توانید از بین اساتید ما هرکدام را انتخاب نمایید
                    به راحتی می توانید از بین اساتید ما هرکدام را انتخاب نمایید
                    به راحتی می توانید از بین اساتید ما هرکدام را انتخاب نمایید
                    به راحتی می توانید از بین اساتید ما هرکدام را انتخاب نمایید
                </p>
            </div>

        </div>
    </div>


</section>

<section class="for-full-back " id="Parallax-one">
    <div class="container">

        <div class="row text-center for-parallax-one">
            <div class="col-md-6 ">
                <h3 class="fontYekan">هدف گداری</h3>
                <h4>
                    <strong>
                        تنها با یک هدف گذاری درست می توان مسیر های موفقیت را طی نمود
                    </strong>
                </h4>
            </div>
            <div class="col-md-6 ">
                <h3 class="fontYekan">تمرین مداوم</h3>
                <h4>
                    <strong>
                        انتخاب استاد خوب تنها یک وسیله هرچند مهم می باشد لذا زمانی موفقیت اص می شود که با پشتکار همراه شود.
                    </strong>
                </h4>
            </div>
        </div>


    </div>
</section>
<!--./parallax one-->
<!--End words Section-->
<!-- Pricing Section -->

<section class="for-full-back color-white slide story" id="price-sec" data-slide="3">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 ">
                <h1 class="fontYekan">روش های مختلف</h1>
                <h4 class="fontYekan">
                    <strong>
                        این اموزشگاه از چندین روش برایی اموزس استفاده می نماید تا دانش اموز با توجه به شرایط مناسبترین روش را برای خود در هر درس خاص انتخاب نماید
                    </strong>
                </h4>
            </div>

        </div>
        <div class="row text-center">

            <div class="col-md-12 ">



                <div class="col-md-3">
                    <ul class="plan">
                        <li class="plan-head">خصوصی در منزل</li>
                        <li class="main-price">$99 only</li>
                        <li><strong>per </strong>hour</li>
                        <li class="bottom">
                            <a href="#contact-sec" class="btn btn-default">BOOK</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="plan">
                        <li class="plan-head">خصوصی در اموزشگاه</li>
                        <li class="main-price">$199 only</li>
                        <li><strong>per </strong>hour</li>
                        <li class="bottom">
                            <a href="#contact-sec" class="btn btn-default">BOOK</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="plan">
                        <li class="plan-head">خصوصی انلاین</li>
                        <li class="main-price">$299 only</li>
                        <li><strong>per </strong>hour</li>
                        <li class="bottom">
                            <a href="#contact-sec" class="btn btn-default">BOOK</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="plan">
                        <li class="plan-head">انلاین گروهی</li>
                        <li class="main-price">$399 only</li>
                        <li><strong>per </strong>hour</li>
                        <li class="bottom">
                            <a href="#contact-sec" class="btn btn-default">BOOK</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>


    </div>
</section>

<section class="for-full-back for-parallax-two" id="Parallax-two">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 ">
                <h1 class="fontYekan">تخفیف</h1>
                <h4 class="fontYekan">
                    <strong>
                        افراد می توانند با انتخاب بیشتر درسها و تکرار انها از ما تخفیف های ویژه بگیرند
                    </strong>
                </h4>
            </div>

        </div>


    </div>
</section>
<!--./parallax two-->


<section class="for-full-back color-white slide story" id="levels" data-slide="4">
    <div class="slide story container">

        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="fontYekan">سطوح مختلف</h1>
                <h4>
                    <strong>
                        هدف ما پوش  تمام دوره های تحصیلی
                    </strong>
                </h4>
            </div>

        </div>

        <div class="row text-center space-pad">
            <div class="teacher col-md-3 col-sm-6">

                <div class="about-div">

                    <img class="icon-round thumbnail" src="assets/img/man.png" />


                    <h3>استاد </h3>
                    <p>
                        چند خطی در مورد استاد مربوطه  رزومه او نوشته می شود.از جمله کارهایی که انجام داده یا افتخاراتی که به دسن اورده
                    </p>

                </div>

            </div>

            <div class="teacher col-md-3 col-sm-6">

                <div class="about-div">

                    <img class="icon-round thumbnail" src="assets/img/man.png" />


                    <h3>استاد </h3>
                    <p>
                        چند خطی در مورد استاد مربوطه  رزومه او نوشته می شود.از جمله کارهایی که انجام داده یا افتخاراتی که به دسن اورده
                    </p>

                </div>

            </div>
            <div class="teacher col-md-3 col-sm-6">

                <div class="about-div">

                    <img class="icon-round thumbnail" src="assets/img/man.png" />


                    <h3>استاد </h3>
                    <p>
                        چند خطی در مورد استاد مربوطه  رزومه او نوشته می شود.از جمله کارهایی که انجام داده یا افتخاراتی که به دسن اورده
                    </p>

                </div>

            </div>
            <div class="teacher col-md-3 col-sm-6">

                <div class="about-div">

                    <img class="icon-round thumbnail" src="assets/img/man.png" />


                    <h3>استاد </h3>
                    <p>
                        چند خطی در مورد استاد مربوطه  رزومه او نوشته می شود.از جمله کارهایی که انجام داده یا افتخاراتی که به دسن اورده
                    </p>

                </div>

            </div>

        </div>

    </div>


</section>

<!--End Pricing Section -->