@{
    ViewData["Title"] = "Home Page";
}

<!--Header section  -->
<div class="container" id="home">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="head-main">JHON DONGA</h1>

            <div id="home-row-2" class="row clearfix">
                <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><i class="fa fa-line-chart faa-vertical animated icon-round bk-color-red"></i></div><h2 class="text-center">حرفه ای</h2><p class="row-2-content">ایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی است</p></div>
                <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><i class="fa fa-clock-o  faa-ring animated icon-round bk-color-green"></i></div><h2 class="text-center">حرفه ای</h2><p class="row-2-content">ایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی است</p></div>
                <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><i class="fa fa-pencil  faa-shake animated icon-round bk-color-light-blue"></i></div><h2 class="text-center">حرفه ای</h2><p class="row-2-content">ایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی استایت یک متن پیشنهادی است</p></div>
            </div><!-- /row -->

            <div class="head-last"></div>

        </div>


    </div>
</div>
<!--End Header section  -->
<!--words Section-->
<section class="for-full-back color-white" id="about">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1>TWO WORDS FROM ME</h1>
                <h4>
                    <strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </strong>
                </h4>
            </div>

        </div>

        <div class="row text-center space-pad">
            <div class="col-md-3 ">

                <div class="about-div">

                    <i class="fa fa-camera fa-4x main-color-red"></i>


                    <h3>Dynamic </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>

                </div>

            </div>
            <div class="col-md-3 ">

                <div class="about-div">

                    <i class="fa fa-briefcase fa-4x main-color-red"></i>


                    <h3>100% Free </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>

                </div>

            </div>
            <div class="col-md-3 ">

                <div class="about-div">

                    <i class="fa fa-desktop fa-4x main-color-red"></i>


                    <h3>Responsive </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>

                </div>

            </div>
            <div class="col-md-3 ">

                <div class="about-div">

                    <i class="fa fa-folder fa-4x main-color-red"></i>


                    <h3>Subscribe </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>

                </div>

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </p>
            </div>

        </div>
    </div>


</section>

<section class="for-full-back " id="Parallax-one">
    <div class="container">

        <div class="row text-center for-parallax-one">
            <div class="col-md-6 ">
                <h3>Lorem ipsum dolor</h3>
                <h4>
                    <strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </strong>
                </h4>
            </div>
            <div class="col-md-6 ">
                <h3>Lorem ipsum dolor</h3>
                <h4>
                    <strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </strong>
                </h4>
            </div>
        </div>


    </div>
</section>
<!--./parallax one-->
<!--End words Section-->
<!-- Pricing Section -->

<section class="for-full-back color-white " id="price-sec">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1>LITTLE PRICING SCHEDULE</h1>
                <h4>
                    <strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </strong>
                </h4>
            </div>

        </div>
        <div class="row text-center">

            <div class="col-md-12 ">



                <div class="col-md-3">
                    <ul class="plan">
                        <li class="plan-head">BASIC RATE</li>
                        <li class="main-price">$99 only</li>
                        <li><strong>per </strong>hour</li>
                        <li class="bottom">
                            <a href="#contact-sec" class="btn btn-default">BOOK</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="plan">
                        <li class="plan-head">SIMPLE RATE</li>
                        <li class="main-price">$199 only</li>
                        <li><strong>per </strong>hour</li>
                        <li class="bottom">
                            <a href="#contact-sec" class="btn btn-default">BOOK</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="plan">
                        <li class="plan-head">VALUE RATE</li>
                        <li class="main-price">$299 only</li>
                        <li><strong>per </strong>hour</li>
                        <li class="bottom">
                            <a href="#contact-sec" class="btn btn-default">BOOK</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="plan">
                        <li class="plan-head">ADVANCE RATE</li>
                        <li class="main-price">$399 only</li>
                        <li><strong>per </strong>hour</li>
                        <li class="bottom">
                            <a href="#contact-sec" class="btn btn-default">BOOK</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>


    </div>
</section>

<section class="for-full-back for-parallax-two" id="Parallax-two">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 ">
                <h1>Lorem ipsum dolor sit</h1>
                <h4>
                    <strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </strong>
                </h4>
            </div>

        </div>


    </div>
</section>
<!--./parallax two-->
<!--End Pricing Section -->
<!-- Contact Section -->
<section class="for-full-back color-white " id="contact-sec">
    <div class="container">


        <div class="row">
            <div class="col-md-5 contact-cls">
                <h3>CONTACT ME </h3>
                <div>
                    <span><i class="fa fa-home"></i>&nbsp; Address: New Your City</span>
                    <br />
                    <span><i class="fa fa-phone"></i>&nbsp;Phone: 82-230-567-899</span>
                    <br />
                    <span><i class="fa fa-envelope-o"></i>&nbsp;E-Mail: indo@yourdomain.com</span>
                    <br />
                    <span><i class="fa fa-phone"></i>&nbsp;Call: +50-987-009-0</span>
                    <br />
                    <span><i class="fa fa-globe"></i>&nbsp;Web: www.yourdomain.com</span>
                    <br />
                </div>
                <br />
                <div id="social-icon">
                    <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                    <a href="#"><i class="fa fa-pinterest fa-2x"></i></a>
                </div>
            </div>
            <div class="col-md-7">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.


                </p>
                <form>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Submit Request</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>