@model AddPresentScedulViewModel
<div id="presentAddModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن برنامه به دوره</h4>
            </div>
            <form asp-action="AddPresent">
                <div class="modal-body">
                    <div class="row">
                        <input asp-for="SectionId" type="hidden"/>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label asp-for="WorkDays" class="control-label"></label>
                            <div id="WorkLine" style="margin: 5px;"></div>
                            <input asp-for="WorkDays" class="form-control" type="hidden" />
                            <span asp-validation-for="WorkDays" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <label asp-for="StartTime" class="control-label"></label>
                            <input asp-for="StartTime" class="form-control piktime text-left" type="text" />

                            <span asp-validation-for="StartTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <label asp-for="EndTime" class="control-label"></label>
                            <input asp-for="EndTime" class="form-control piktime ltr text-left" type="text" />
                            <span asp-validation-for="EndTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success box-button" title="افزودن برنامه به دوره"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-default box-title" data-dismiss="modal">بستن</button>
                </div>
            </form>
        </div>

    </div>
</div>
