@model OnlineCourse.Entity.Models.User

@{
    ViewData["Title"] ="ویرایش پروفایل کاربری";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <form asp-action="Edit" method="Post" enctype="multipart/form-data">
                <div class="box">
                    <div class="box-header with-border">
                        <b>@ViewData["Title"]</b>
                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" type="hidden" />
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label asp-for="UserName" class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label asp-for="Email" class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label asp-for="Mobile" class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="Mobile" class="form-control" />
                                        <span asp-validation-for="Mobile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label asp-for="FullName" class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="FullName" class="form-control" />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label asp-for="Position" class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @*<span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>*@
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" title="موقعیت مکانی"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
                                            </span>
                                            <input asp-for="Position" class="form-control" readonly>
                                        </div>
                                        <span asp-validation-for="Position" class="text-danger"></span>
                                    </div>
                                </div>
                                
                               
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-md-3 control-label">تصویر</label>
                                    <div class="col-md-9">
                                        <input type="file" name="Image" id="Image" class="form-control" />
                                        @*<span asp-validation-for="Image" class="text-danger"></span>*@
                                    </div>
                                </div>

                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-md-3 control-label">تغییر رمز عبور</label>
                                    <div class="col-md-9">
                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#changePass"><i class="fa fa-key" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                               
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label asp-for="Addrress" class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <textarea asp-for="Addrress" class="form-control" rows="5"></textarea>
                                        <span asp-validation-for="Addrress" class="text-danger"></span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>


                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success box-title"><i class="fa fa-save"></i></button>
                        <a asp-action="Index" class="btn btn-info box-button"><i class="fa fa-backward"></i></a>
                    </div>
                </div>
            </form>




        </div>


    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


@Html.Partial("~/Areas/Admin/Views/Users/_ChangePassword.cshtml", new OnlineCourse.Panel.Utils.ViewModels.AccountViewModels.ChangePasswordViewModel() { UserId = Model.Id })






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}

