@model OnlineCourse.Panel.Utils.ViewModels.AccountViewModels.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "بازیابی رمز عبور";
}
<div class="col-md-4 col-center-md" style="padding-top:100px;">
    <div class="panel panel-default">

        <div class="panel-heading">
            <strong class="text-right">@ViewData["Title"]</strong>
        </div>
        <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="panel-body">
                <span asp-validation-summary="All" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control text-left" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">@ViewData["Title"] </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
