@model OnlineCourse.Panel.Utils.ViewModels.AccountViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<div class="row">
    <div class="col-md-3 col-sm-5 col-xs-12" style="float: none; margin:30px auto">



        <div class="login-box">
            <div class="login-logo">
                @*@Html.Partial("/Views/Shared/_Notifications.cshtml")*@
            </div>
            <div class="login-box-body">
                
                <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <h5 class="text-right">@ViewData["Title"]  </h5>
                    <hr/>

                    <span asp-validation-summary="All" class="text-danger"></span>
                    <span asp-validation="Success" class="text-success"></span>

                    <div class="form-group">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" class="form-control text-left"/>
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">@ViewData["Title"] </button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
