@model OnlineCourse.Panel.Utils.ViewModels.AccountViewModels.SendCodeViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "فعال سازی";
}
<div class="col-md-4 col-center-md" style="padding-top:100px;">
    <div class="panel panel-default">

        <div class="panel-heading">
            <strong class="text-right">@ViewData["Title"]</strong>
        </div>
        <form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="panel-body">
                <span asp-validation-summary="All" class="text-danger"></span>
                @if (string.IsNullOrEmpty(Model.Email))
                {
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" type="hidden" />
                }
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">ارسال کد فعال سازی</button>
                </div>

            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}