@model OnlineCourse.Panel.Utils.ViewModels.Areas.Admin.SectionViewModel
@{
    ViewData["Title"] = "ویرایش ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-8 col-xs-12 col-center-md">
            @*@Html.Partial("/Views/Shared/_Notifications.cshtml")*@
            <form asp-action="Edit" method="Post">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <b>@ViewData["Title"]</b>
                    </div>
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" />

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label asp-for="TotalTime" class="control-label"></label>
                                <input asp-for="TotalTime" class="form-control" />
                                <span asp-validation-for="TotalTime" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label asp-for="HourlyPrice" class="control-label"></label>
                                <input asp-for="HourlyPrice" class="form-control" />
                                <span asp-validation-for="HourlyPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label asp-for="TeacherId" class="control-label"></label>
                                <select asp-for="TeacherId" class="form-control" asp-items="Model.Teachers"></select>
                                <span asp-validation-for="TeacherId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label asp-for="TermId" class="control-label"></label>
                                <select asp-for="TermId" class="form-control" asp-items="Model.Terms"></select>
                                <span asp-validation-for="TermId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label asp-for="CourseId" class="control-label"></label>
                                <select asp-for="CourseId" class="form-control" asp-items="Model.Courses"></select>
                                <span asp-validation-for="CourseId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label asp-for="Activity" class="control-label"></label>
                                <select asp-for="Activity" class="form-control" asp-items='Html.GetEnumValueDescriptionSelectList<ActiveState>((ActiveState)Model.Activity)'></select>
                                <span asp-validation-for="Activity" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success  box-button"><i class="fa fa-save"></i></button>
                        <a asp-action="Index" class="btn btn-info  box-title"><i class="fa fa-backward"></i></a>

                    </div>
                </div>

            </form>




        </div>


    </div>
    <!-- /.row -->
</section>
<!-- /.content -->




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
